<%= form_for @order, html: { class: 'order_form' } do |f| %>
  <fieldset>
    <legend>Informasi Order</legend>
    <div class="form-horizontal">
      <div class="form-group">
        <%= f.label :order_date, 'Tanggal Order', class: 'col-md-2 control-label' %>
        <div class="col-md-4">
          <div class="input-group">
            <%= f.text_field :order_date, class: 'form-control datepickered' %>
            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :shipment_date, 'Tanggal Pengiriman', class: 'col-md-2 control-label' %>
        <div class="col-md-4">
          <div class="input-group">
            <%= f.text_field :shipment_date, class: 'form-control datepickered' %>
            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :agent, 'Nama Agen', class: 'col-md-2 control-label' %>
        <div class="col-md-4">
          <%= f.collection_select :agent_id, @presenter.agents, :id, :name_with_id, { prompt: true }, class: 'form-control' %>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Sales Order</legend>
    <div id="order-items">
      <%= f.fields_for :order_items do |order_item| %>
        <%= render 'order_item_fields', f: order_item %>
      <% end %>
    </div>
    <div class="row">
      <div class="col-md-2">
        <%= link_to_add_association 'Tambah Barang', f, :order_items, class: 'btn btn-info btn-block' %>
      </div>
      <div class="col-md-2">
        <%= f.submit 'Simpan', class: 'btn btn-success btn-block'%>
      </div>
    </div>
  </fieldset>
<% end %>
