<%= form_for @order, html: { class: 'order_form' } do |f| %>
  <%= render partial: 'order_information', locals: { f: f } %>

  <fieldset>
    <legend>Sales Order</legend>
    <div id="order-items">
      <%= f.fields_for :order_items do |order_item| %>
        <%= render 'order_item_fields', f: order_item %>
      <% end %>
    </div>
    <div class="row control-button">
      <div class="col-md-2">
        <%= link_to_add_association 'Tambah Barang', f, :order_items, class: 'btn btn-info btn-block' %>
      </div>
      <div class="col-md-2">
        <%= f.submit 'Simpan', class: 'btn btn-success btn-block'%>
      </div>
      <div class="col-md-2">
        <%= f.submit 'Approve', class: 'btn btn-success btn-block'%>
      </div>
    </div>
  </fieldset>
<% end %>

